.header {
  height: 100vh;
  width: 100%;
  background: url(../images/panorama-2117310.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-size: 12px; }
  .header--wrapper {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    max-width: 1040px; }
  .header__title {
    position: absolute;
    left: 200px;
    bottom: 165px;
    width: 340px;
    height: 121px;
    font-size: 60px;
    line-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -1.5px;
    font-weight: bold; }
    .header__title::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -8px;
      height: 2px;
      width: 35px;
      background-color: #fff; }
    .header__title::after {
      content: "";
      position: absolute;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      top: -10px;
      left: -7px;
      height: 2px;
      width: 35px;
      background-color: #fff; }
  .header__nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0; }
  .header__top {
    padding: 20px 100px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1440px; }
  .header__logo {
    margin-left: 55px;
    background-image: url(../images/logo.png);
    background-size: cover; }
  .header .logo {
    width: 115px;
    height: 76px; }
  .header__link {
    color: #fff;
    width: 113px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 8px;
    text-decoration: none;
    border-bottom: 1px solid;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__link:hover {
      color: #7d8ca1; }

@media screen and (max-width: 800px) {
  .header {
    position: relative; }
    .header__link, .header__phone, .header__action {
      display: none; }
    .header__top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .header__logo {
      margin: 0; }
    .header__title {
      position: absolute;
      left: 10px;
      right: 0;
      width: 260px;
      font-size: 46px; } }

@media screen and (max-width: 450px) {
  .header__link, .header__phone, .header__action {
    display: none; }
  .header .logo {
    width: 73px;
    height: 48px; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

/*# sourceMappingURL=header.css.map */
