@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth; }

body,
ul,
li,
input,
button,
textarea {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  border-width: 0;
  font-size: 16px;
  line-height: 1.5; }

.link {
  color: #0075ff;
  text-decoration: none;
  font-weight: bold; }
  .link:hover {
    color: #7d8ca1; }

.header {
  height: 100vh;
  width: 100%;
  background: url(../images/panorama-2117310.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-size: 12px;
  overflow: hidden; }
  .header__wrapper {
    position: relative;
    margin: 0 auto;
    height: 100vh;
    max-width: 1040px; }
  .header__title {
    position: absolute;
    bottom: 165px;
    width: 340px;
    height: 121px;
    font-size: 60px;
    line-height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: -1.5px;
    font-weight: bold; }
    .header__title::before {
      content: "";
      position: absolute;
      top: -10px;
      left: -8px;
      height: 2px;
      width: 35px;
      background-color: #fff; }
    .header__title::after {
      content: "";
      position: absolute;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      -webkit-transform-origin: left;
              transform-origin: left;
      top: -10px;
      left: -7px;
      height: 2px;
      width: 35px;
      background-color: #fff; }
  .header__nav {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0; }
  .header__top {
    padding: 20px 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    max-width: 1440px; }
  .header__logo {
    margin-left: 55px;
    background-image: url(../images/logo.png);
    background-size: cover; }
  .header .logo {
    width: 115px;
    height: 76px; }
  .header__link {
    color: #fff;
    width: 113px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 8px;
    text-decoration: none;
    border-bottom: 1px solid;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .header__link:hover {
      color: #7d8ca1; }

@media screen and (max-width: 1440px) {
  .mob__header {
    display: none; } }

@media screen and (max-width: 800px), (max-width: 450px) {
  .header {
    position: relative; }
    .header__link, .header__phone, .header__action, .header__top, .header__logo {
      display: none; }
    .header__title {
      position: absolute;
      left: 5%;
      max-width: 260px;
      font-size: 46px; }
  .mob__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 24px 25px;
    max-width: 700px; }
  .mob__phone {
    height: 24px;
    width: 24px;
    background: url(../images/Vector.png) center center/contain no-repeat; }
  .mob__logo {
    height: 48px;
    width: 73px;
    background: url(../images/logo-small.png) center center/contain no-repeat; }
  .mob__slide {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); }
  .mob__nav {
    display: block;
    position: absolute;
    z-index: 5;
    right: -430px;
    bottom: 0;
    max-width: 430px;
    width: 125%;
    height: 100%;
    background: #0075ff;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
    transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
    .mob__nav__top {
      margin: 20px auto;
      height: 48px;
      background: url(../images/logo-small.png) center center/contain no-repeat; }
  .mob__list {
    display: grid;
    gap: 15px 0;
    margin-left: 35px;
    height: 70%;
    width: 100%;
    text-transform: uppercase;
    list-style: none; }
  .mob__item {
    margin-left: 35px; }
  .mob__link {
    z-index: 15;
    color: white;
    font-size: 22px;
    text-decoration: none; }
  .mob__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 50px;
    max-height: 50px;
    height: 100%;
    max-width: 200px;
    width: 100%; } }

.nav {
  text-transform: uppercase; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
  .nav__item {
    padding: 8px 24px;
    margin: 15px 25px;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    font-size: 12px;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
  .nav__link {
    color: #fff;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
    .nav__link_active {
      color: #fff;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.1);
      padding: 5px 24px; }
  .nav__link:hover {
    color: #7d8ca1; }

@media screen and (max-width: 450px), (max-width: 800px) {
  .nav,
  __list {
    display: none; } }

.menu-icon-line, .menu-icon-line::after, .menu-icon-line::before {
  width: 24px;
  height: 3px;
  background-color: white;
  left: 0;
  position: absolute;
  display: block; }

.menu-icon-line.menu-icon-active::before, .menu-icon-line.menu-icon-active::after {
  top: 0;
  -webkit-transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, -webkit-transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s, -webkit-transform 0.2s ease-in 0.2s; }

@media screen and (max-width: 450px) {
  .menu-icon {
    display: block; } }

.menu-icon {
  height: 26px;
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 15; }

.menu-icon-line {
  position: relative; }
  .menu-icon-line::after {
    content: "";
    top: 10px;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    transition: transform 0.2s ease-in 0.2s, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in 0.2s, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in 0.2s; }
  .menu-icon-line::before {
    content: "";
    top: -10px;
    -webkit-transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    transition: top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in 0.2s;
    transition: transform 0.2s ease-in 0.2s, top 0.2s linear 0.2s;
    transition: transform 0.2s ease-in 0.2s, top 0.2s linear 0.2s, -webkit-transform 0.2s ease-in 0.2s; }
  .menu-icon-line.menu-icon-active {
    background-color: transparent; }
  .menu-icon-line.menu-icon-active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .menu-icon-line.menu-icon-active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.heading {
  position: absolute;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
  text-align: center; }
  .heading__crown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    height: 13px;
    margin: auto;
    top: calc(100% + 4px);
    background-image: url(../images/crown.svg); }

.photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .photos__img {
    width: calc(50% - 10px);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 260px;
    border-radius: 8px; }
    .photos__img:hover, .photos__img:focus {
      -webkit-box-shadow: 0 0 22px rgba(0, 83, 181, 0.5);
              box-shadow: 0 0 22px rgba(0, 83, 181, 0.5);
      outline: none; }
  .photos__img_left:first-child {
    width: calc(67% - 10px); }
  .photos__img_left:last-child {
    width: calc(33% - 10px); }
  .photos__img_right:first-child {
    width: calc(33% - 10px); }
  .photos__img_right:last-child {
    width: calc(67% - 10px); }

@media screen and (max-width: 450px) {
  .photos__img_left:first-child,
  .photos__img_right:first-child {
    width: calc(50% - 10px); }
  .photos__img_left:last-child,
  .photos__img_right:last-child {
    width: calc(50% - 10px); } }

.button {
  display: block;
  padding: 22px 65px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;
  border: 2px solid #0075ff;
  outline: none;
  background-color: #0075ff;
  color: white;
  cursor: pointer; }
  .button:hover {
    -webkit-box-shadow: 0 13px 27px rgba(0, 82, 183, 0.64);
            box-shadow: 0 13px 27px rgba(0, 82, 183, 0.64); }
  .button:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .consultation__heading {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
    color: #0075ff; }
  .consultation__text {
    max-width: 410px; }
  .consultation__form {
    margin-top: 16px; }

@media screen and (max-width: 800px), (max-width: 450px) {
  .consultation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 413px;
  margin-top: 10px; }
  .form__item {
    margin-bottom: 16px; }
  @media screen and (max-width: 450px) {
    .form {
      width: 100% !important; } }

.section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 170px calc(50% - 470px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .section:first-child {
    padding-top: 100px; }
  .section .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    .section .info__heading {
      max-width: 330px;
      max-height: 100px;
      font-weight: bold;
      font-size: 48px;
      line-height: 48px;
      letter-spacing: -1.5px; }
    .section .info__text {
      max-width: 500px; }
      .section .info__text-blue {
        color: #0075ff; }
  .section__heading {
    position: absolute;
    top: -0.5em;
    right: 0;
    left: 0;
    margin: 0;
    padding-left: 0;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -1.5px; }

@media screen and (max-width: 450px) {
  .section {
    padding: 70px 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .section:first-child {
      padding-top: 40px; }
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .info__text {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content; }
    .info__heading {
      font-size: 36px !important; } }

@media screen and (max-width: 800px) {
  .section:last-child {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: black;
  padding: 17px;
  background-color: #f6f8ff;
  text-align: left;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 8px;
  outline: none; }
  .input::-webkit-input-placeholder {
    color: #b9c1ce; }
  .input::-moz-placeholder {
    color: #b9c1ce; }
  .input:-ms-input-placeholder {
    color: #b9c1ce; }
  .input::-ms-input-placeholder {
    color: #b9c1ce; }
  .input::placeholder {
    color: #b9c1ce; }
  .input:focus {
    background-color: white;
    border: 1px solid #7d8ca1; }
  .input_textarea {
    height: 144px;
    resize: none; }

.gallery__caption {
  margin: 24px 0 40px;
  font-weight: bold; }

.gallery__button {
  margin: 44px auto 0;
  display: block;
  padding: 22px 65px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  color: #0075ff;
  background-color: white;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 8px;
  border: 2px solid #0075ff;
  outline: none;
  max-width: 280px;
  width: 100%; }
  .gallery__button:hover {
    background-color: #0075ff;
    color: white;
    -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
            box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }
  .gallery__button:active {
    -webkit-transform: translateY(2px);
            transform: translateY(2px); }

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

@media screen and (max-width: 800px), (max-width: 450px) {
  .testimonials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 260px; }
  .person__photo {
    height: 153px;
    width: 153px; }
    .person__photo:hover {
      -webkit-transform: scale(0.2);
              transform: scale(0.2); }
  .person__name {
    color: #0075ff;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 0; }
  .person__position {
    color: #7d8ca1;
    margin: 0;
    font-size: 14px;
    line-height: 27px; }
  .person__text {
    text-align: center;
    font-size: 16px;
    line-height: 27px;
    margin-top: 4px; }

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 400px;
  width: 100%; }
  .contact-info__title {
    font-size: 14px;
    line-height: 27px;
    color: #7d8ca1; }
  .contact-info__link {
    color: black;
    text-decoration: none;
    line-height: 27px; }

@media screen and (max-width: 800px), (max-width: 450px) {
  .contact-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.footer {
  position: relative;
  height: 360px;
  width: 100%;
  background-image: url(../images/footer.png);
  background-size: cover;
  background-position: center; }
  .footer__logo {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 40px;
    width: 115px;
    height: 76px;
    background: url(../images/logo.png) center center/cover no-repeat; }

/*# sourceMappingURL=main.css.map */
